<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pooli.question.mapper.QuestionMapper">

    <select id="findAllActiveCategories"
            resultType="QuestionCategory">

        SELECT
        question_category_id,
        question_category_name,
        created_at,
        deleted_at
        FROM question_category
        WHERE deleted_at IS NULL
        ORDER BY question_category_id ASC

    </select>

    <!-- 문의사항 insert -->
    <insert id="insertQuestion" useGeneratedKeys="true" keyProperty="questionId">
        INSERT INTO question
        (question_category_id, line_id, title, content, is_answer, created_at)
        VALUES
        (#{questionCategoryId}, #{lineId}, #{title}, #{content}, false, NOW())
    </insert>

    <!-- 문의사항 첨부파일 insert -->
    <insert id="insertQuestionAttachments">
        INSERT INTO question_attachment
        (question_id, s3_key, file_size, created_at)
        VALUES
        <foreach collection="attachments" item="att" separator=",">
            (#{questionId}, #{att.s3Key}, #{att.fileSize}, NOW())
        </foreach>
    </insert>

    <!-- 문의사항 soft delete -->
    <update id="softDeleteQuestion">
        UPDATE question
        SET deleted_at = NOW()
        WHERE question_id = #{questionId}
        AND deleted_at IS NULL
    </update>

    <!-- 문의사항 첨부파일 soft delete -->
    <update id="softDeleteQuestionAttachments">
        UPDATE question_attachment
        SET deleted_at = NOW()
        WHERE question_id = #{questionId}
        AND deleted_at IS NULL
    </update>

</mapper>