<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pooli.policy.mapper.AdminPolicyMapper">

    <!-- 전체 정책 목록 조회 -->
    <select id="selectAllPolicies" resultType="com.pooli.policy.domain.dto.response.AdminPolicyResDto">
     SELECT
            p.policy_id AS policyId,
            p.policy_name AS policyName,
            p.policy_category_id AS policyCategoryId,
            pc.policy_category_name AS policyCategoryName,
            p.is_active AS isActive,
            p.is_new AS isNew,
            p.updated_at AS updatedAt
        FROM policy p
        LEFT JOIN policy_category pc ON p.policy_category_id = pc.policy_category_id
        WHERE p.deleted_at IS NULL
          AND (pc.deleted_at IS NULL OR pc.deleted_at IS NOT NULL)
        ORDER BY p.policy_id DESC
    </select>

    <!-- 정책 추가 -->
    <insert id="insertPolicy" useGeneratedKeys="true" keyProperty="policyId">
        INSERT INTO policy (policy_category_id, policy_name, is_active, is_new, created_at)
        VALUES (#{request.policyCategoryId}, #{request.policyName}, false, true, NOW())
    </insert>

    <!-- 정책 수정 (동적 SQL: 값이 있는 필드만 업데이트) -->
    <update id="updatePolicy">
        UPDATE policy
        SET
            policy_category_id = #{request.policyCategoryId},
            policy_name = #{request.policyName},
            is_active = false,
            updated_at = NOW()
        WHERE policy_id = #{policyId}
          AND deleted_at IS NULL;
    </update>
    
    <!-- 정책 - isNew 변경 -->
    <update id="updateIsNewPolicy">
        UPDATE policy
        SET
            is_active = false,
            updated_at = NOW()
        WHERE policy_id = #{policyId}
          AND deleted_at IS NULL;
    </update>

    <!-- 정책 삭제 (Soft Delete) -->
    <update id="deletePolicy">
        UPDATE policy
        SET
            deleted_at = NOW()
        WHERE policy_id = #{policyId}
          AND deleted_at IS NULL
    </update>

    <!-- 정책 활성/비활성 상태, isNew 변경 -->
    <update id="updatePolicyActiveStatus">        
        UPDATE policy
	    <set>
	        <if test="request.isActive != null">is_active = #{request.isActive},</if>
	        <!-- 활성 상태를 false로 바꾸는 경우 isNew도 false -->
	        <if test="request.isActive == false">is_new = false,</if>
	        updated_at = NOW()
	    </set>
	    WHERE policy_id = #{policyId}
	      AND deleted_at IS NULL
    </update>
    

    <!-- 정책 카테고리 목록 조회 -->
    <select id="selectAllCategories" resultType="com.pooli.policy.domain.dto.response.AdminPolicyCateResDto">
        SELECT
            policy_category_id AS policyCategoryId,
            policy_category_name AS policyCategoryName
        FROM policy_category
        WHERE deleted_at IS NULL
        ORDER BY policy_category_id ASC
    </select>

    <!-- 정책 카테고리 추가 -->
    <insert id="insertCategory" useGeneratedKeys="true" keyProperty="policyCategoryId">
        INSERT INTO policy_category (policy_category_name, created_at)
        VALUES (#{request.policyCategoryName}, NOW())
    </insert>

    <!-- 정책 카테고리 수정 (동적 SQL) -->
    <update id="updateCategory">
        UPDATE policy_category
        <set>
            <if test="request.policyCategoryName != null">policy_category_name = #{request.policyCategoryName},</if>
            updated_at = NOW()
        </set>
        WHERE policy_category_id = #{policyCategoryId}
          AND deleted_at IS NULL
    </update>

    <!-- 정책 카테고리 삭제 (Soft Delete) -->
    <update id="deleteCategory">
        UPDATE policy_category
        SET
            deleted_at = NOW()
        WHERE policy_category_id = #{policyCategoryId}
          AND deleted_at IS NULL
    </update>

</mapper>
