<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pooli.notification.mapper.AlarmHistoryMapper">

    <!-- 알람 단건 insert -->
    <insert id="insertAlarmHistory">
        INSERT INTO ALARM_HISTORY (
        line_id,
        alarm_code,
        value,
        created_at,
        deleted_at,
        read_at
        )
        VALUES (
        #{lineId},
        #{alarmCode},
        #{value},
        NOW(6),
        NULL,
        NULL
        )
    </insert>

    <!-- 알람 다건 insert -->
    <insert id="insertNotificationAlarms">
        INSERT INTO ALARM_HISTORY (
        line_id,
        alarm_code,
        value,
        created_at,
        deleted_at,
        read_at
        )
        VALUES
        <foreach collection="lineIds" item="lineId" separator=",">
            (
            #{lineId},
            #{alarmCode},
            #{value},
            NOW(6),
            NULL,
            NULL
            )
        </foreach>
    </insert>


    <select id="findAlarmHistoryPage"
            resultType="com.pooli.notification.domain.dto.response.NotiSendResDto">

        SELECT
        alarm_history_id AS alarmHistoryId,
        line_id AS lineId,
        alarm_code AS alarmCode,
        value,
        CASE
        WHEN read_at IS NULL THEN FALSE
        ELSE TRUE
        END AS isRead,
        created_at AS createdAt
        FROM ALARM_HISTORY
        WHERE line_id = #{lineId}
        AND deleted_at IS NULL

        <if test="isRead != null">
            <choose>
                <when test="isRead == true">
                    AND read_at IS NOT NULL
                </when>
                <otherwise>
                    AND read_at IS NULL
                </otherwise>
            </choose>
        </if>

        <if test="code != null">
            AND alarm_code = #{code}
        </if>

        ORDER BY created_at DESC
        LIMIT #{size} OFFSET #{offset}

    </select>

    <select id="countAlarmHistory" resultType="long">

        SELECT COUNT(*)
        FROM ALARM_HISTORY
        WHERE line_id = #{lineId}
        AND deleted_at IS NULL

        <if test="isRead != null">
            <choose>
                <when test="isRead == true">
                    AND read_at IS NOT NULL
                </when>
                <otherwise>
                    AND read_at IS NULL
                </otherwise>
            </choose>
        </if>

        <if test="code != null">
            AND alarm_code = #{code}
        </if>

    </select>

    <!-- 미읽음 개수 조회 -->
    <select id="countUnreadByLineId" resultType="long">
        SELECT COUNT(*)
        FROM ALARM_HISTORY
        WHERE line_id = #{lineId}
        AND deleted_at IS NULL
        AND read_at IS NULL
    </select>

</mapper>